body {
	font-family: 'Poppins', sans-serif;
	margin: 0 auto; 
	background: #000;
	max-width: 1500px;
}

a:hover {
	text-decoration: none;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

.grid {
	display: grid;
}

.grid-2-columns {
	grid-template-columns: 1fr 1fr;
	grid-gap: 64px;
}

.grid-3-columns {
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 64px;
}

@media (max-width: 960px) {
	.grid {
		grid-template-columns: 1fr;
	}
}

.text-center {
	text-align: center;
}

.card {
	background: #fff;
	margin:  30px 0 0;
}


.card h4 {
	font-weight: 700;
	font-size: 24px;
	line-height: 36px;
	color: #272044;
	margin:  0;
}

.card h5 {
	margin:  0;
	font-weight: 700;
	font-size: 13px;
	line-height: 20px;
}

.card-header .grid {
	grid-gap: 0;
}
@media (max-width: 960px) {
	.card-header img {
		display: none;
	}
}


.card .button {
	background: #462CB3;
	font-weight: 700;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	letter-spacing: 3px;
	text-transform: uppercase;
	display: block;
	color:  #fff;
	text-decoration: none;
	padding:  16px 0;
	margin-top: 30px;
}

.card p {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #272044;
	opacity: 0.7;
}

.card-body {
	padding:  30px;
}

header {
	background-image: linear-gradient(rgba(39,32,68,0.6), rgba(39,32,68,0.6)), url('../images/header-bg.png');
	background-size:  cover;
	background-repeat: no-repeat;
	background-position: center;
	color:  #fff;
	text-align: center;
	padding:  200px 0 ;
}

header h1 {
	font-weight: 700;
	font-size: 96px;
	line-height: 144px;
	margin:  0;
}

header h2 {
	font-weight: 400;
	margin:  0;
	font-size: 40px;
	line-height: 60px;
}

header h3 {
	margin:  0;
	font-weight: 900;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	letter-spacing: 5px;
}

header .button {
	font-weight: 700;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	letter-spacing: 3px;
	text-transform: uppercase;
	background:  #fff;
	text-decoration: none;
	padding:  16px 32px;
	color: #272044;
	margin:  30px 0 0;
	display: inline-block;
}

main img, main iframe {
	width:  100%;
}

main section {
	background: #fff;
	padding:  100px 0;
}

.section-grey {
	background: #F8F8F8;
}

main h3 {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 5px;
	color: #272044;
	margin:  0;
	opacity: 0.3;
	text-transform: uppercase;

}

main h2 {
	margin:  0;
	font-weight: 700;
	font-size: 40px;
	line-height: 1.5;
	color: #272044;
}

main p {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #272044;
	opacity: 0.7;
}


footer {
	background-image: linear-gradient(rgba(39,32,68,0.9), rgba(39,32,68,0.9)), url('../images/footer-bg.png');
}

.footer-sections {
	display: grid;
	grid-template-columns: 1fr 2fr 2fr;
}

footer section {
	margin:  20px;
}

footer h4 {
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	color: #FFFFFF;
}

footer ul {
	margin:  0;
	padding:  0;
}

footer li {
	list-style: none;
}

footer a, footer p {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	opacity: 0.7;
}